In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
sys.path.append('..')

from src.preprocess import *

In [3]:
dummy_df = pd.DataFrame({'Col_1':[0,1], 'Deck':[1,2]})

In [4]:
deck_column_removal(dummy_df)

   Col_1
0      0
1      1

In [5]:
'Deck' in deck_column_removal(dummy_df)

False

In [6]:
dummy_df = pd.DataFrame({'Age':[np.nan, 20,np.nan],
                         'Sex':['male', 'female', 'female'],
                         'EmbarkedCity':['S','Q','C'],
                         'Class':['First','Second','Third']})

In [8]:
age_imputed_df = age_column_imputation(dummy_df)

In [9]:
age_imputed_df

      Sex EmbarkedCity   Class    Age
0    male            S   First  42.00
1  female            Q  Second  20.00
2  female            C   Third  14.25

In [13]:
age_imputed_df['Age'].values[0] == 42.00

True

In [14]:
    dummy_df = pd.DataFrame({'City':['A','B','C']})
    encoded_df = city_encoding(dummy_df)

In [15]:
encoded_df

   City_A  City_B  City_C
0       1       0       0
1       0       1       0
2       0       0       1

In [20]:
(encoded_df.columns == ['City_A', 'City_B', 'City_C']).sum() == 3

True

In [22]:
encoded_df.sum(axis = 1).sum()

3

In [23]:
    dummy_df = pd.DataFrame({'Deck':['A','B'],
                             'Age':[np.nan,50],
                             'Sex':['male', 'female'],
                             'EmbarkedCity':['S','Q'],
                             'Class':['Second','First']})
    preprocessed_df = preprocess(dummy_df)

Conducting missing value imputation on Age column...
Conducting encoding on Class column...
Conducting encoding on Sex column...
Conducting encoding on EmbarkedCity column...

In [24]:
preprocessed_df

   Sex  Class   Age  EmbarkedCity_Q  EmbarkedCity_S
0    1      2  30.0               0               1
1    0      1  50.0               1               0

In [26]:
preprocessed_df['Age'].values == [30,50]

array([ True,  True])

In [27]:
(preprocessed_df['Age'].values == [30, 50]).sum() == 2

True